# A. Найди ближайщего

In [ ]:
import numpy as np
1 6 -8 6
0 0 0  0

|0-1| |

In [ ]:
import numpy as np

def get_nearest(a, a0):
    "Element in nd array `a` closest to the scalar value `a0`"
    idx = np.abs(a - a0).argmin()
    return a[idx]

B = np.array(list(map(int, input().split())))

print(get_nearest(B,0))

# B. Шахматная доска

In [ ]:
import numpy as np

def checkerboard(n):
    a = np.resize([0,1], n)
    return np.abs(a-np.array([a]).T)


N = int(input())

x = checkerboard(N)

for i in x:
    print(*i)

# C. Нулевая колонка

In [ ]:
import numpy as np

with open('input.txt') as file:
    x = np.array([[int(digit) for digit in line.split()] for line in file])


# 1 5 0 -4
# 1 4 8 7
# 9 0 0 -3

# [11, 9, 0, 12]
sums = x.sum(axis=0)
if 0 in sums:
    print(True)
else:
    print(False)

# D. Симметричная матрица

In [ ]:
0.1+0.1+0.1
1e-8

1e-08

In [ ]:
import numpy as np

def symetric(arr, tol=1e-8):
    return np.all(np.abs(arr-arr.T) < tol)

with open('input.txt') as file:
    x = np.array([[int(digit) for digit in line.split()] for line in file])

print(symetric(x))

# E. Максимальная сумма в строке

In [ ]:
import numpy as np

# with open('input.txt') as file:
#     x = np.array([[int(digit) for digit in line.split()] for line in file])

x = np.array([[1,3,4], [0,4,2], [2,2,4]])
x

array([[1, 3, 4],
       [0, 4, 2],
       [2, 2, 4]])

In [ ]:
a = x.sum(axis=1)
# a = [8, 6, 8]

In [ ]:
print(*np.where(a == np.max(a))[0])

0 2

In [ ]:
a = x.sum(axis=1)
# [3, 10, 31]
# a == np.max(a) -> [False, False, True]
print(*np.where(a == np.max(a)))

In [ ]:
np.where(условие,True,False)