задача 1

In [ ]:
import numpy as np
import pandas as pd

r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))
s2 = s[s > 5]
s3 = s2.sort_values()
print(s3.idxmin())

67

задача 2

In [10]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])

df40 = df[df['возраст'] > 40]
a = df['доход'].mean()
dfin = df[df['доход'] > a]
b = df['надежность клиента (0..1)'].mean()
df2in = df[(df['доход'] > a) & (df['надежность клиента (0..1)'] < b)]
df['важность клиента'] = df['доход'] * df['надежность клиента (0..1)']
c = df['возраст'].mean()
df['возможная долгосрочность клиента'] = df['важность клиента'] * (c - df['возраст'])
print(df, '\n')
print(df40, '\n')
print(dfin, '\n')
print(df2in, '\n')

     имя  возраст   доход  надежность клиента (0..1)  пол  важность клиента  \
0   Петя       45  100000                       0.65  муж           65000.0
1   Вася       26   80000                       0.74  муж           59200.0
2    Аня       41  150000                       0.87  жен          130500.0
3  Света       21   60000                       0.68  жен           40800.0

   возможная долгосрочность клиента
0                         -763750.0
1                          429200.0
2                        -1011375.0
3                          499800.0

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж

задача 3

In [4]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['low', 'medium', 'high'] * 3,
                    'price': np.random.randint(0, 100, 9)})

df2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2,
                    'ves': ['low', 'high'] * 3,
                    'price': np.random.randint(0, 100, 6)})

res = pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['frukt', 'ves'])

print(res.drop(['frukt', 'ves'], axis=1))

   fruit weight  price_x  price_y
0  apple    low       23       68
1  apple    low       22       68
2  apple    low       35       68