In [32]:

#1
import numpy as np
import pandas as pd

r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))
print(s[s>5].index[0])

1

In [50]:
#2
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])


df['доход'].mean()
df['надежность клиента'].mean()
df['возраст'].mean()

df['важность клиента'] = df['доход'] * df['надежность клиента']
df['возможная долгосрочность клиента'] = df['важность клиента'] * (df['возраст'].mean() - df['возраст'])


i = df[df['возраст'] > 40]


me = df['доход'].mean()
j = df[df['доход'] > me]


na = df['надежность клиента'].mean()
k = df[(df['доход'] > me) & (df['надежность клиента'] < na)]


print("Клиенты старше 40 лет:")
print(i["возраст"])

print("\nКлиенты с доходом выше среднего по датасету:")
print(j["доход"])

print("\nКлиенты с доходом выше среднего по датасету, но надежность ниже среднего по датасету:")
print(k)

Клиенты старше 40 лет:
0    45
2    41
Name: возраст, dtype: int64

Клиенты с доходом выше среднего по датасету:
0    100000
2    150000
Name: доход, dtype: int64

Клиенты с доходом выше среднего по датасету, но надежность ниже среднего по датасету:
    имя  возраст   доход  надежность клиента  пол  важность клиента  \
0  Петя       45  100000                0.65  муж           65000.0

   возможная долгосрочность клиента
0                         -763750.0

In [61]:
#3
import pandas as pd
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3, 'weight': ['low', 'medium', 'high'] * 3, 'price': np.random.randint(0, 100, 9)})
df2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2, 'ves': ['low', 'high'] * 3, 'price': np.random.randint(0, 100, 6)})

df3 = df1.rename(columns={'fruit': 'frukt', 'weight': 'ves'}, inplace= True)
df = pd.concat([df3, df2],ignore_index=True)
print(df)

    frukt   ves  price
0   apple   low     31
1  banana  high     53
2   melon   low     45
3   apple  high     16
4  banana   low     48
5   melon  high     43